    <div class="col-sm-4" id="search-contacts">
      <h3>Search</h3>
        <div class="form-horizontal" role="form">
            <div class="form-group">
            <label class="control-label col-sm-4" for="firstname">First Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="firstname" placeholder="Enter first name">
            </div>
            </div>
            <div class="form-group">
            <label class="control-label col-sm-4" for="lastname">Last Name</label>
            <div class="col-sm-6">          
                <input type="text" class="form-control" id="lastname" placeholder="Enter last name">
            </div>
            </div>
            <div class="form-group">        
            <div class="col-sm-offset-4 col-sm-6">
                <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
                <button type="button" class="btn btn-default" ng-click="add()">Add</button>
            </div>
            </div>
        </div>
    </div>
